:host {
  .header {
    margin-bottom: 4rem;
    .mat-toolbar {
      justify-content: center;
    }
  }
  
  app-task-table {
    margin-inline: 15rem;
  }

  @media (max-width: 1200px) {
    app-task-table {
      margin-inline: 0;
    }
  }
}
